@model TodoListModel

<input type="hidden" id="listId" value="@Model.ListId" />

<input class="h2" id="listName" value="@Model.Name" />

@foreach (var task in Model.Tasks)
{
    <div class="row" data-task-id="@task.ListItemId" data-list-id="@task.ListId">
        <div class="col-1 border align-content-center text-center">
            <input class="auto-save" type="checkbox" checked="@task.IsComplete" id="IsComplete-@{@task.ListItemId}"/>
        </div>
        <div class="col-11 border">
            <input class="auto-save" value="@task.Detail" id="Detail-@{@task.ListItemId}" />
        </div>
    </div>
}

<a asp-controller="Home" asp-action="AddTask" asp-route-listId="@Model.ListId">+ Add Row</a>

@section Scripts {
    <script src="~/js/todoList.js"></script>
}